<div class="top-spacer"></div>
<div class="session-tools">
  <div class="inline-block session-tool">
    <div class="icon-clipboard white-t big-icon inline-block"></div>
    <div style="font-size: 10px" class="white-t">ASSIGNMENT</div>
  </div>
  <div class="inline-block session-tool">
    <div class="icon-presentation white-t big-icon inline-block"></div>
    <div style="font-size: 10px" class="white-t">PRESENTATION</div>
  </div>
  <div class="inline-block session-activate white-t {{button}}" ng-hide="user.usertype === 'Student'" ng-click="toggleActive()">
    {{button}} SESSION
  </div>
  <div ng-hide="userHasJoined"><div class="inline-block session-activate white-t" ng-show="user.usertype === 'Student'" ng-click="joinSession()" style="float: right;">
    JOIN
  </div></div>
  <div class="inline-block session-activate white-t EXIT" ng-show="userHasJoined" ng-click="leaveSession()" style="float: right;">
    EXIT
  </div>
</div>
<div class="session-presentation-space">
  <video id="video" class="web-video" ng-hide="user.usertype === 'Student'"></video>
  <video id="returnVideo" class="web-video"></video>
</div>
<div class="session-attendance-container fade">
  <img class="session-user fade" ng-src="{{user.UID.profilePicture}}" ng-repeat="user in thisSession.joined"/>
</div>
<div class="session-chat-container fade">
  <div class="session-chat-text-container">
    <div class="session-chat-incoming-messages">
      <div class="session-chat-incoming-message fadeinload" ng-repeat="message in sessionMessages track by $index">
        <img class="session-chat-avatar" ng-src="{{message.img}}"/>
        <div class="session-chat-incoming-message-text">{{message.content}}</div>
      </div>
    </div>
    <div class="session-chat-message-container">
      <form ng-submit="submitMessage()">
      <div class="session-chat-enter-button" ng-click="submitMessage()">+</div>
      <input class="session-chat-new-message" type="text" placeholder="Say something..." ng-model="newMessage.content"/>
    </form>
    </div>
  </div>
</div>
