textarea{
  resize: none;
}
.new-assignment-container{
  display: inline-block;
  text-align: center;
  width: 300px;
  height: auto;
}
.new-assignment-title{
  font-size: 20px;
  border: none;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom: 1px solid rgb(190, 190, 190);
  width: 100%;
  outline: none;
  padding: 10px;
}
.new-assignment-instructions{
  border: none;
  border-bottom: 1px solid rgb(190, 190, 190);
  width: 100%;
  outline: none;
  padding: 10px;
  height: 100px;
}
.new-assignment-deliverables{
  border: none;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  width: 100%;
  outline: none;
  padding: 10px;
  margin-top: -4px;
}
.assignment-container{
  display: inline-block;
  text-align: center;
  width: 300px;
  height: auto;
}
.assignment-title{
  font-size: 20px;
  border: none;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom: 1px solid rgb(190, 190, 190);
  width: 100%;
  outline: none;
  padding: 10px;
}
.assignment-instructions{
  border: none;
  border-bottom: 1px solid rgb(190, 190, 190);
  width: 100%;
  outline: none;
  padding: 10px;
  height: auto;
}
.assignment-deliverables{
  border: none;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  width: 100%;
  outline: none;
  padding: 10px;
  margin-top: -4px;
}
.goldenrod-b{
  background-color: rgb(194, 186, 85);
}
.scheduled:hover{
  height: 60px;
  transition: .5s;
  background-color: #354F52;
}
.scheduled{
  transition: .5s;
  cursor: pointer;
}
.inline-block{
  display: inline-block;
}
.top-spacer{
  width: 100%;
  height: 80px;
}
.session-tools{
  width: 270px;
  height: 70px;
  position: fixed;
  left: 100px;
  top: 60px;
  background-color: #354F52;
  display: inline-block;
  z-index: 1000;
}
.session-tool{
  padding: 5px;
  margin-top: 4px;
  transition: .5s;
  cursor: pointer;
}
.session-tool:hover{
  transition: .5s;
  background-color: rgba(0, 0, 0, 0.49)
}
.session-activate{
  transition: .5s;
  float: right;
  margin-top: 10px;
  margin-right: 7px;
  line-height: 40px;
  height: 40px;
  padding: 5px;
  background-color: rgb(37, 179, 98);
  cursor: pointer;
}
.session-activate:hover{
  transition: .5s;
  background-color: rgb(29, 143, 78);
}
.not-scheduled{
  cursor: default;
}
.session-attendance-container{
  width: 150px;
  height: 100vh;
  position: fixed;
  top: 60px;
  right: 0px;
  background-color: #2F3E46;
  z-index: 0;
}
.session-user{
  border: 2px solid white;
  width: 45px;
  height: 45px;
  border-radius: 25px;
  margin: 5px;
  transition: .5s;
}
.web-video{
  margin-top: 10%;
  width: 80%;
  height: auto;
  -webkit-filter: blur(3px);
}
.pros-student-box{
  width: 120px;
  height: 30px;
  padding: 5px 5px 0px 5px;
  text-align: left;
  display: inline-block;
  overflow: hidden;
  white-space: nowrap;
  position: relative;
}
.session-user:hover{
  border: 2px solid #a4b698;
  transition: .5s;
}
.approve-student{
  position: absolute;
  bottom: -2px;
  right: 10px;
  width: 10px;
  height: 10px;
  border-radius: 20px;
  background-color: rgb(19, 158, 54);
  transition: .5s;
  cursor: pointer;
}
.START{

}
.END{
  background-color: rgb(181, 36, 36);
}
.END:hover{
  background-color: rgb(150, 32, 32);
}
.approve-student:hover{
  transition: .5s;
  width: 15px;
  height: 15px;
  background-color: rgb(32, 142, 59);
}
.deny-student{
  position: absolute;
  bottom: -2px;
  right: 25px;
  width: 10px;
  height: 10px;
  border-radius: 20px;
  background-color: rgb(181, 36, 36);
  transition: .5s;
  cursor: pointer;
}
.deny-student:hover{
  transition: .5s;
  width: 15px;
  height: 15px;
  background-color: rgb(161, 40, 40);
}
.video-preview{
  position: relative;
  position: inline-block;
  margin-top: 100px;
  width: 320px;
  height: 180px;
}
.session-presentation-space{
  background-color: #269;
  z-index: 0;
  position: fixed;
  top: 100px;
  left: 20px;
  width: 50vw;
  height: 80vh;
  background-size: 100px 100px, 100px 100px, 20px 20px, 20px 20px;
  background-position: -2px -2px, -2px -2px, -1px -1px, -1px -1px;
  background-image: -webkit-linear-gradient(white 2px, transparent 2px),
                    -webkit-linear-gradient(0, white 2px, transparent 2px),
                    -webkit-linear-gradient(rgba(255,255,255,.3) 1px, transparent 1px),
                    -webkit-linear-gradient(0, rgba(255,255,255,.3) 1px, transparent 1px);
  background-image: -moz-linear-gradient(white 2px, transparent 2px),
                    -moz-linear-gradient(0, white 2px, transparent 2px),
                    -moz-linear-gradient(rgba(255,255,255,.3) 1px, transparent 1px),
                    -moz-linear-gradient(0, rgba(255,255,255,.3) 1px, transparent 1px);
  background-image: linear-gradient(white 2px, transparent 2px),
                    linear-gradient(90deg, white 2px, transparent 2px),
                    linear-gradient(rgba(255,255,255,.3) 1px, transparent 1px),
                    linear-gradient(90deg, rgba(255,255,255,.3) 1px, transparent 1px);
}
.big-icon{
  font-size: 40px;
}
.slush-b{
  background-color: #CAD2C5
}
.slushdark-b{
  background-color: #a4b698
}
.slush-t{
  color: #CAD2C5
}
.seaice-b{
  background-color: #84A98C
}
.seaice-t{
  color: #84A98C
}
.lakeice-b{
  background-color: #52796F
}
.lakeice-t{
  color: #52796F
}
.blueice-b{
  background-color: #354F52
}
.blueice-t{
  background-color: #354F52
}
.blueice-b{
  color: #354F52
}
.blueice-t{
  color: #354F52
}
.coldriver-b{
  background-color: #2F3E46
}

.coldriver-t{
  color: #2F3E46
}
.row{
  width: 100%;
  height: auto;
}
.toast{
  position: fixed;
  top: 80px;
  right: 10%;
  width: 150px;
  min-height: 80px;
  height: auto;
  z-index: 5001;
  text-align: center;
  padding-top: 20px;

}

.fade.ng-hide{
  transition:0.5s linear all;
  opacity:0;
}

.fade{
  transition:0.5s linear all;
  opacity:1;
}
.profile-builder-modal{
  width: 100vw;
  height: 100vh;
  top: 0px;
  left: 0px;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.71);
  z-index: 500;
}
.section-builder-modal{
  width: 100vw;
  height: 100vh;
  top: 0px;
  left: 0px;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.71);
  z-index: 500;
  text-align: center;
}
.enrollment-modal{
  width: 100vw;
  height: 100vh;
  top: 0px;
  left: 0px;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.71);
  z-index: 500;
  text-align: center;
}
.loading-screen-container{
  width: 100vw;
  height: 100vh;
  top: 0px;
  left: 0px;
  position: fixed;
  background: linear-gradient(rgb(82, 121, 111), rgb(67, 98, 90));
  z-index: 5000;
  text-align: center;
}
.enrollment-modal-box{
  width: 300px;
  min-height: 400px;
  height: auto;
  max-height: 500px;
  margin-top: 100px;
  display: inline-block;
  position: relative;
}
.enrollment-course-container{
  width: 290px;
  height: 350px;
  margin-top: 40px;
  overflow-y: scroll;
  overflow-x: hidden;
}
::-webkit-scrollbar {
    width: 12px;
    width: 5px;
    background: transparent
}

::-webkit-scrollbar-track {
    background-color: rgba(82, 121, 111, 0.29);
    border-radius: 10px;
    width: 5px;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    width: 5px;
    background: rgb(82, 121, 111);
}
.selected-course-button{
  background-color: red !important;
}
.section-builder-box{
  width: 300px;
  min-height: 400px;
  max-height: 600px;
  margin-top: 100px;
  display: inline-block;
  position: relative;
}
.sessions-container{
  position: fixed;
  background-color: rgb(233, 224, 185);
  left: 0px;
  top: 60px;
  width: 200px;
  height: 80vh;
  overflow-y: scroll;
  overflow-x: hide;
}
.session-chat-container{
  text-align: center;
  position: fixed;
  background-color: rgb(233, 224, 185);
  right: 150px;
  top: 0px;
  width: 400px;
  height: 100vh;
}
.session-chat-text-container{
  margin-top: 70px;
  display: inline-block;
  width: 380px;
  height: 80%;
  border-radius: 10px;
  background-color: white;
  position: relative;
}
.session-chat-message-container{
  position: absolute;
  text-align: left;
  bottom: 0px;
  width: 100%;
  height: 40px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  border-top: 2px solid rgb(210, 210, 210)
}
.session-chat-enter-button{
  text-align: center;
  display: inline-block;
  position: relative;
  color: rgb(210, 210, 210);
  font-size: 30px;
  /*line-height: 40px;*/
  padding-top: -5px;
  bottom: 0px;
  left: 0px;
  width: 40px;
  height: 40px;
  border-bottom-left-radius: 10px;
  border-right: 2px solid rgb(210, 210, 210);
  transition: .5s;
}
.session-chat-enter-button:hover{
  color: rgb(255, 255, 255);
  background-color: rgb(19, 158, 54);
  transition: .5s;
}
.session-chat-incoming-messages{
  margin-top: 5px;
  width: 95%;
  height: 90%;
  margin-left: 5px;
  overflow-y: scroll;
}
.session-chat-incoming-message{
  text-align: left;
  width: 100%;
  height: auto;
  min-height: 50px;
  margin-top: 2px;
  margin-bottom: 2px;
  transition: .5s;
}
.session-chat-incoming-message:hover{
  background-color: rgb(228, 228, 228);
  transition: .5s;
}
.session-chat-avatar{
  border-radius: 15px;
  width: 30px;
  height: 30px;
  margin: 5px;
}
.session-chat-incoming-message-text{
  display: inline-block;
  color: black;
  width: 300px;
}
.session-chat-new-message{
  position: relative;
  width: 320px;
  top: 0px;
  outline: none;
  border: none;
  display: inline-block;
}
.pros-students-container{
  position: fixed;
  padding: 10px;
  width: 150px;
  left: 200px;
  top: 60px;
  height: 80vh;
  overflow-y: scroll;
  overflow-x: hide;
}
.pros-student-img{
  width: 20px;
  height: 20px;
  border-radius: 10px;
  display: inline-block;
}
.session-box{
  font-size: 20px;
  height: 50px;
  margin-top: 10px;
  cursor: pointer;
  width: 90%;
  color: white;
  line-height: 50px;
  background-color: #52796F;
  display: inline-block;
  transition: .5s;
}
.session-box:hover{
  background-color: #42625a;
  transition: .5s;
}
.section-modal-title{
  margin-top: 20px;
  width: 100%;
  font-size: 30px;
}
.section-modal-instructor{
  width: 100%;
  font-size: 20px;
  margin-top: 10px;
}
.group-user-modal{
  width: 100vw;
  height: 100vh;
  top: 0px;
  left: 0px;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.71);
  z-index: 500;
  -webkit-filter: blur(5px);
  transition: 1s;
}
.add-student-modal-container{
  width: 100vw;
  height: 100vh;
  top: 0px;
  left: 0px;
  position: fixed;
  z-index: 501;
  text-align: center;
}
.add-student-modal{
  width: 250px;
  height: auto;
  min-height: 300px;
  max-height: 500px;
  overflow: hidden;
  display: inline-block;
  margin-top: 100px;
  position: relative;
}
.action-close{
  position: absolute;
  height: 10px;
  width: 10px;
  top: 10px;
  right: 15px;
  z-index: 2000;
  cursor: pointer;
}
.placeholder-user{
  font-size: 100px;
  width: 100px;
  color: rgb(112, 112, 112);
  height: 100px;
  background-color: rgb(194, 194, 194);
  border-radius: 70px;
  padding: 10px;
  overflow: hidden;
  margin-top: 40px;
}
.student-modal-row{
  width: 100%;
  text-align: left;
  position: relative;
  transition: .5s;
}
.student-modal-row:hover{
  width: 100%;
  text-align: left;
  position: relative;
  transition: .5s;
  background-color: rgba(41, 41, 41, 0.37);
}
.student-modal-name{
  position: absolute;
  top: 15px;
  left: 65px;
  line-height: 45px;
  height: 45px;
}
.submit-course{
  border-radius: 20px;
  height: 20px;
  margin-top: 10px;
  width: 90%;
  display: inline-block;
  border: 1px solid rgba(124, 224, 100, 0);
  background-color: rgb(49, 176, 70);
  color: white;
  cursor: pointer;
}
.submit-course:hover{
  width: 90%;
  display: inline-block;
  border: 1px solid rgb(49, 176, 70);
  background-color: rgba(49, 176, 70, 0);
  color: white;
}
.usertype-select{
  margin-top: 100px;
  width: 300px;
  height: 400px;
  display: inline-block;
  z-index: 1050;
}
.facebook-data-title{
  font-size: 20px;
  top: 80px;
  width: 100%;
  height: auto;
  text-align: center;
}
.facebook-data-select{
  margin-top: 50px;
  width: auto;
  min-height: 400px;
  height: auto;
  display: inline-block;
  z-index: 1050;
  position: relative;
}
.like-container{
  position: relative;
  width: 100px;
  height: 140px;
  display: inline-block;
  text-align: center;
  margin: 5px;
  overflow: hidden;
}
.submit.bottom{
  position: absolute;
  bottom: 0px;
  right: 50px;
}
.likes-background{
  height: auto;
  width: auto;
  margin-left: 10px;
  margin-right: 10px;
  border-radius: 20px;
  background-color: rgba(75, 118, 134, 0.58);
}
.like-img{
  display: inline-block;
  width: 70px;
   -webkit-filter: contrast(1);
  border-radius: 45px;
  border: 1px solid white;
  transition: 1s;
}
.like-check{
  position: absolute;
  top: 50px;
  left: 70px;
}
.like-img:hover{
  display: inline-block;
   -webkit-filter: contrast(4);
  width: 70px;
  border-radius: 45px;
  border: 1px solid rgb(120, 58, 149);
  transition: 1s;
}
.like-text{
  width: 100%;
  position: absolute;
  display: inline-block;
}
.good{
  color: white;
  background-color: hsla(133, 41%, 45%, 0.69);
}
.bad{
  color: white;
  background-color: hsla(0, 59%, 50%, 0.7);
}

body {
  cursor: default;
  font-family: 'Dosis', sans-serif;
  -webkit-tap-highlight-color:  rgba(255, 255, 255, 0);
}
a{
  text-decoration: none;
  color: #2F3E46;
}
a:visited{
  color: #2F3E46;
}
* {
  -webkit-user-select: none;  /* Chrome all / Safari all */
  -moz-user-select: none;     /* Firefox all */
  -ms-user-select: none;      /* IE 10+ */
  user-select: none;
}
button{
  border: 1px rgb(242, 242, 242) solid;
  padding-left: 20px;
  padding-right: 20px;
  width: auto;
  height: 40px;
  border-radius: 20px;
  color: rgb(242, 242, 242);
  background-color: rgba(255, 255, 255, 0);
  transition: 2s;
  margin-top: 5px;
  margin-right: 10px;
  margin-left: 10px;
  margin-bottom: 10px;
}
button.submit{
  border: 1px rgb(82, 155, 182) solid;
  background-color: rgb(82, 155, 182);
  transition: 1s;
}
button.submit:hover{
  border: 1px rgb(82, 155, 182) solid;
  background-color: rgb(65, 119, 139);
  transition: 1s;
}
/**{
  outline: 1px solid white;
}*/
.avatar{
  height: 80px;
  width: 80px;
  border-radius: 40px;
}
.user-dash-profile{
  position: fixed;
  bottom: 20px;
  z-index: 200;
}
.bottom-dash{
  position: fixed;
  bottom: 30px;
  height: 50px;
  width: 100%;
  z-index: 199;
}

body::-webkit-scrollbar * {
    background:transparent;
}
body::-webkit-scrollbar-thumb {
    background:#999 !important;
}

button {
  outline: none;
}

#sidebartoggler{
  display: none;
}
#sidebartoggler:unchecked ~ .menucontainer{
  display: none;
  right: -240px;
}

#sidebartoggler:checked ~ .menucontainer {
  transition: .5s;
  right: 0px;
}

#sidebartoggler2{
  display: none;
}

#sidebartoggler2:checked ~ .menucontainer {
  transition: .5s;
  right: 240px;
}
#sidebartoggler2:unchecked ~ .menucontainer {
  transition: .5s;
  right: 0px;
}

.menucontainer {
  position: fixed;
  width: auto;
  height: auto;
  top: 40px;
  right: -400px;
  transition: .5s;
}

/*#sidebartoggler2:checked ~ .menu{
  transition: .5s;
  right: 240px;
}*/

.salmon-b{
  background-color: #FE938C;
}
.tan-b{
  background-color: #E6B89C;
}
.khaki-b{
  background-color: #EAD2AC;
}
.slate-b{
  background-color: #9CAFB7;
}
.ocean-b{
  background-color: #4281A4;
}
.white-b{
  background-color: rgb(242, 242, 242);
}

.ocean-g{
  background: linear-gradient(to right, #467569 , #46665e);
}

.black-b{
  background-color: #222224;
}
.salmon-t{
  color: #FE938C;
}
.tan-t{
  color: #E6B89C;
}
.khaki-t{
  color: #EAD2AC;
}
.slate-t{
  color: #9CAFB7;
}
.ocean-t{
  color: #4281A4;
}
.white-t{
  color: rgb(242, 242, 242);
}
.black-t{
  color: rgb(34, 34, 36);
}
.light{
  font-weight: 100;
}
.top-minus{
  margin-top: 0px;
}
svg {
  width: 40px;
  height: 40px;
}
use.ic-1 {
  fill: rgb(242, 242, 242) !important;
  transition: 2s !important;
}

use.ic-1:hover {
  fill: #4281A4 !important;
  transition: .5s !important;
}
.menu-btn{
  color: white;
  float: right;
  cursor: pointer;
}

.menu{
  position: fixed;
  list-style: none;
  width: 200px;
  height: 100vh;
  top: 20px;
  transition: 1s;
  z-index: 50;
}

.submenu{
  position: relative;
  right: -240px;
  list-style: none;
  width: 200px;
  height: 100vh;
  top: -20px;
  transition: 1s;
  z-index: 75;
}

.menuitem {
  list-style: none;
  padding-top: 15px;
  padding-bottom: 10px;
  padding-left: 20px;
  font-size: 20px;
  text-align: left;
  border-bottom: 1px solid rgb(219, 219, 219);
  transition: 2s;
  margin-left: -40px;
  cursor: pointer;
}

.menuitem:hover {
  background-color: #a4b698;
  transition: .5s;
  padding-left: 20px;
  padding-bottom:15px;
}

/*.menu:hover{
  transition: .5s;
  right: 0px;
}*/

/*.menu-btn:hover{
  color: #84A98C;
  transition: .5s;
}

.menu-btn:hover ~ .menu {

    transition: .5s;
    right: 0px;
}​*/
.menubtnimg{
  width: 30px;
  margin-top: 12px;
  margin-right: 10px;
}
.menu-btn:active ~ .menu {

    transition: .5s;
    right: 0px;
}​

svg rect {
  fill: inherit !important;
}
.navbar{
  width: 100%;
  height: 60px;
  position: fixed;
  /*padding-left: 40px;
  padding-right: 40px;*/
  font-size: 40px;
  display: inline-block;
  text-align: center;
  box-shadow: 0px 10px 40px rgba(19, 111, 105, 0.25);
  z-index: 50;
}
.row{
  width: 100%;
  min-height: 100vh;
  height: auto;
  text-align: center;
}
.footer{
  width: 100%;
  height: 30px;
  position: fixed;
  padding-left: 40px;
  padding-right: 40px;
  font-size: 15px;
  bottom: 0px;
  display: inline-block;
  text-align: center;
  line-height: 0px;
  box-shadow: 0px -10px 40px rgba(19, 111, 105, 0.25);
  z-index: 50;
}
.footer-container{
  width: 100%;
  max-width: 1000px;
  display: inline-block;
  text-align: right;
}

.inline{
  display: inline-block;
}
.icon-container{
  margin-top: 10px;
  border-radius: 40px;
  height: 50px;
  width: 50px;
  float: left;
}



.icon-img{
  height: 40px;
  fill: #9CAFB7;
}

.icon-img2{
  width: 30px;
  fill: rgb(242, 242, 242);
}

.icon-img2:hover{
  width: 30px;
  fill: #9CAFB7;
}

.icon-img{
  height: 40px;
  fill: rgb(242, 242, 242);
}

.row-container{
  display: inline-block;
  width: 100%;
  max-width: 1000px;
  margin-left: 10px;
  margin-right: 10px;
}
.course{
  position: relative;
  margin-top: 30px;
  margin-left: 10px;
  margin-right: 10px;
  text-align: center;
  height: 200px;
  width: 200px;
  border-radius: 105px;
  z-index: 0;
  transition: .5s;
  cursor: pointer;
}
.course:hover{
  background-color: #aec1a3;
  height: 210px;
  width: 210px;
  transition: .5s;
}
.course-header{
  position: absolute;
  font-size: 30px;
  text-align: center;
  top: 40px;
  width: 100%;
}
.course-title{
  position: absolute;
  font-size: 20px;
  top: 80px;
  width: 100%;
  height: auto;
  text-align: center;
}
.usertype-name{
  font-size: 20px;
  top: 80px;
  width: 100%;
  height: auto;
  text-align: center;
}
.professor-name{
  position: absolute;
  bottom: 20px;
  width: 90%;
  line-height: 23px;
  background-color: rgb(161, 154, 92);
  height: 23px;
  z-index:1;
  box-shadow: 0px 10px 40px rgba(18, 18, 18, 0.18);
}
.professor-name-section{
  position: absolute;
  bottom: 10px;
  left: -10px;
  width: 90%;
  line-height: 23px;
  background: linear-gradient(rgb(161, 154, 92), rgb(180, 171, 91));
  color: white;
  height: 23px;
  z-index:1;
  box-shadow: 0px 10px 40px rgba(18, 18, 18, 0.18);
}
.professor{
  position: absolute;
  bottom: 0px;
  right: 0px;
  height: 40px;
  width: 40px;
  overflow: hidden;
  font-size: 40px;
  color: rgb(70, 70, 69);
  background-color: rgb(157, 157, 157);
  padding: 10px;
  border-radius: 40px;
  z-index: 2;
  transition: .5s;
}
.professor-img{
  position: absolute;
  bottom: 0px;
  right: 0px;
  height: 50px;
  width: 50px;
  overflow: hidden;
  font-size: 40px;
  color: rgb(70, 70, 69);
  background-color: rgb(157, 157, 157);
  border-radius: 40px;
  z-index: 2;
  transition: .5s;
  -webkit-filter: contrast(1);
}
.professor-img-section{
  position: absolute;
  bottom: -10px;
  right: -20px;
  height: 65px;
  width: 65px;
  overflow: hidden;
  font-size: 40px;
  color: rgb(70, 70, 69);
  background-color: rgb(157, 157, 157);
  border-radius: 40px;
  z-index: 2;
  transition: .5s;
  -webkit-filter: contrast(1);
}
.professor-img-section:hover{
  transition: .5s;
  -webkit-filter: contrast(2);
}
.schedule{
  width: 250px;
  margin-left: -40px;
}
.schedule-day{
  display: inline-block;
  width: 40px;
  height: 55px;
  margin-left: -5px;
  margin-right: -3px;
  border-right:1px solid white;
}
.professor-img:hover{
  height: 55px;
  width: 55px;
  transition: .5s;
  -webkit-filter: contrast(2);
}
.course-menu-header{
  background-color: #52796F;
  color: white;
}
.schedule-time{
  font-size: 18px;
  text-align: left;
}
.professor:hover{
  height: 45px;
  width: 45px;
  font-size: 45px;
  background-color: rgb(134, 133, 133);
  transition: .5s;
}
.group-circle{
  width: 250px;
  height: 250px;
  border-radius: 150px;
  background-color: #354F52;
  display: inline-block;
}
.group-add-circle{
  width: 250px;
  height: 250px;
  border-radius: 150px;
  background-color: #5e5e5e;
  display: inline-block;
}
.group-title{
  font-size: 30px;
  width: 100%;
  margin-top: 50px;
  color: white;
}
.group-title-input{
  font-size: 30px;
  width: 100%;
  text-align: center;
  margin-top: 50px;
  color: white;
  outline: none;
  border: none;
  background: transparent;
}
.group-user-row{
  width: 250px;
  margin-top: 100px;
}
.group-user{
  position: relative;
  height: 45px;
  width: 45px;
  font-size: 40px;
  color: rgb(70, 70, 69);
  background-color: rgb(157, 157, 157);
  border-radius: 40px;
  z-index: 2;
  transition: .5s;
  margin-left: 2px;
  margin-right: 2px;
  display: inline-block;
}
.group-user-container{
  position: relative;
  height: 45px;
  width: 45px;
  font-size: 40px;
  color: rgb(70, 70, 69);
  background-color: rgb(255, 77, 77);
  border-radius: 40px;
  transition: .5s;
  margin-left: 2px;
  margin-right: 2px;
  display: inline-block;
}
.add-group-button{
  height: 45px;
  width: 45px;
  position: absolute;
  background-color: rgb(19, 158, 54);
  top: 0px;
  right: 10px;
  border-radius: 25px;
  font-size: 45px;
  line-height: 40px;
  font-weight: 200;
  color: rgb(255, 255, 255);
  transition: .5s;
  border: 1px solid rgba(255, 255, 255, 0);
  cursor: pointer;
}
.add-group-button:hover{
  border: 1px solid rgb(19, 158, 54);
  transition: .5s;
  background-color: rgba(126, 169, 173, 0);
}
.group-user-container:hover > .group-user{
  -webkit-filter: blur(20px);

}
.bottom-text{
  position: absolute;
  font-size: 10px;
  bottom: -10px;
  color: black;
  left: 0px;
  width: 50px;
}
.subtract-user{
  position: absolute;
  top: -7px;
  width: 100%;
  text-align: center;
  color: white;
}
.student-user{
  height: 45px;
  width: 45px;
  margin-top: 10px;
  overflow: hidden;
  font-size: 40px;
  color: rgb(70, 70, 69);
  background-color: rgb(157, 157, 157);
  border-radius: 40px;
  z-index: 2;
  transition: .5s;
  margin-left: 10px;
  margin-right: 2px;
  display: inline-block;
}
@media (min-width: 900px)  {
    .col1-3{
      width: 30%;
      max-width: 400px;
      height: auto;
      display: inline-block;
    }

    .col2-3{
      width: 60%;
      max-width: 800px;
      height: auto;
      display: inline-block;
    }
    .hotline-bling{
      font-size: 80px;
      line-height: 80px;
      text-align: left;
      font-weight: 200;
    }
    .avatar-shadow{
      border: 2px solid white;
      height: 200px;
      width: 200px;
      border-radius: 100px;
      position: fixed;
      bottom: -15px;
      background-color: #354F52;
      z-index: 0;
      transition: 1s;
    }

    .topitem{
      margin-top: 60px;
    }
    .btn {
      border: 1px rgb(242, 242, 242) solid;
      padding-left: 20px;
      padding-right: 20px;
      width: auto;
      height: 40px;
      border-radius: 20px;
      color: rgb(242, 242, 242);
      background-color: rgba(255, 255, 255, 0);
      transition: 2s;
      margin-top: 5px;
      margin-right: 10px;
      margin-left: 10px;
      margin-bottom: 10px;
    }

    .btn:hover {
      background-color: rgba(255, 255, 255, 0.44);
      transition: .5s;
    }

    .signup {
      padding-left: 20px;
      padding-right: 20px;
      width: auto;
      height: 45px;
      border-radius: 20px;
      color: rgb(242, 242, 242);
      background-color: #3e5b98;
      border: 1px solid #3e5b98;
      transition: 2s;
      margin-top: -30px;
      margin-right: 10px;
      margin-left: 10px;
      margin-bottom: 10px;
    }

    .signup:hover {
      background-color: hsla(134, 42%, 45%, 0);
      transition: .5s;
    }

    .svgtest{
        width: 300px;
        margin-left: -150px;
    }
}
@media (max-width: 900px)  {

    .svgtest{
        width: 50vw;
        margin-left: 20px;
    }

    .spacer {
      width: 100%;
      height: 100px;
    }

    .col1-3{
      width: 90%;
      margin-left: 5%;
      margin-right: 5%;
      height: auto;
      display: inline-block;
    }

    .col2-3{
      width: 90%;
      margin-left: 5%;
      margin-right: 5%;
      height: auto;
      display: inline-block;
    }
    .avatar-shadow{
      border: 2px solid white;
      height: 200px;
      width: 200px;
      border-radius: 100px;
      position: fixed;
      bottom: -15px;
      background-color: rgba(53, 79, 82, 0.86);
      transition: 1s;
      z-index: 0;
    }
    .hotline-bling{
      font-size: 10vw;
      line-height: 10vw;
      text-align: left;
      font-weight: 200;
    }

    .btn {
      border: 1px rgb(242, 242, 242) solid;
      padding-left: 20px;
      padding-right: 20px;
      width: 90%;
      margin-right: 5%;
      margin-left: 5%;
      height: 40px;
      border-radius: 20px;
      color: rgb(242, 242, 242);
      background-color: rgba(255, 255, 255, 0);
      transition: 2s;
      margin-top: 5px;
      margin-right: 10px;
      margin-left: 10px;
      margin-bottom: 10px;
    }

    .btn:hover {
      background-color: rgba(255, 255, 255, 0.44);
      transition: .5s;
    }

    .lastbutton{
      margin-bottom: 50px;
    }

    .signup {
      border: 1px #42a45a solid;
      padding-left: 20px;
      padding-right: 20px;
      width: 90%;
      margin-right: 5%;
      margin-left: 5%;
      height: 40px;
      border-radius: 20px;
      color: white;
      background-color: #3e5b98;
      border: 1px solid #3e5b98;
      transition: 2s;
      margin-top: 5px;
      margin-right: 10px;
      margin-left: 10px;
      margin-bottom: 10px;
    }

    .signup:hover {
      background-color: hsla(134, 42%, 45%, 0);
      transition: .5s;
    }
}

.fadeinload {
    -webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadein 2s; /* Firefox < 16 */
        -ms-animation: fadein 2s; /* Internet Explorer */
         -o-animation: fadein 2s; /* Opera < 12.1 */
            animation: fadein 2s;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

.come-in {
  transform: translateY(150px);
  animation: come-in 0.8s ease forwards;
}
.come-in:nth-child(odd) {
  animation-duration: 0.6s; /* So they look staggered */
}

@keyframes come-in {
  to { transform: translateY(0); }
}

.leave-out {
  transform: translateY(150px);
  animation: come-in 0.8s ease forwards;
}
.come-in:nth-child(odd) {
  animation-duration: 0.6s; /* So they look staggered */
}
.blur{
  -webkit-filter: blur(5px);
  transition: 1s;
}
.blur:hover{
  -webkit-filter: blur(0px);
  transition: 1s;
}

.img-selector{
  -webkit-filter: grayscale(1);
  width: 100px;
  transition: 1s;
}
.img-background{
  height: auto;
  width: auto;
  margin-left: 10px;
  margin-right: 10px;
  border-radius: 20px;
  background-color: rgba(75, 118, 134, 0.58);
}
.education-background{
  height: auto;
  width: auto;
  margin-left: 10px;
  margin-right: 10px;
  border-radius: 20px;
  background-color: rgba(75, 118, 134, 0.58);
}
.img-selector-container{
  width: 100px;
  height: 100px;
  overflow: hidden;
  padding: 10px;
  display: inline-block;
  position: relative;
}
.img-selector:hover{
  transition: 1s;
  -webkit-filter: grayscale(0);
  width: 100px;
}
.img-check{
  position: absolute;
  top: 80px;
  right: 5px;
}

@keyframes come-in {
  to { transform: translateY(0); }
}

.wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-filter: blur(15px) contrast(30);
          filter: blur(15px) contrast(30);
}

.ball {
  position: absolute;
  width: 120px;
  height: 120px;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) rotate(0deg);
          transform: translate(-50%, -50%) rotate(0deg);
  -webkit-transform-origin: 66px center;
          transform-origin: 66px center;
  margin-left: 40px;
}

.ball:before {
  content: '';
  width: 68px;
  height: 68px;
  position: absolute;
  top: 50%;
  left: -10px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  border-radius: 100%;
  background: #f00;
}

.ball-1 {
  margin-left: -50px;
}

.ball-2 {
  margin-left: 25px;
  -webkit-transform: translateY(-50%) rotate(180deg);
          transform: translateY(-50%) rotate(180deg);
  margin-left: -100px;
  -webkit-animation: rotate-1 1.7s linear infinite;
          animation: rotate-1 1.7s linear infinite;
  z-index: 2;
}

@-webkit-keyframes rotate-1 {
  0% {
    margin-left: -18px;
    -webkit-transform: translateY(-50%) rotate(0deg);
            transform: translateY(-50%) rotate(0deg);
    -webkit-transform-origin: 66px center;
            transform-origin: 66px center;
  }
  25% {
    margin-left: -25px;
    -webkit-transform: translateY(-50%) rotate(-180deg);
            transform: translateY(-50%) rotate(-180deg);
    -webkit-transform-origin: 66px center;
            transform-origin: 66px center;
  }
  50% {
    margin-left: -33px;
    -webkit-transform: translateY(-50%) rotate(-360deg);
            transform: translateY(-50%) rotate(-360deg);
    -webkit-transform-origin: 66px center;
            transform-origin: 66px center;
  }
  50.1% {
    -webkit-transform-origin: -12px center;
            transform-origin: -12px center;
  }
  75% {
    margin-left: -36px;
    -webkit-transform: translateY(-50%) rotate(-180deg);
            transform: translateY(-50%) rotate(-180deg);
    -webkit-transform-origin: -12px center;
            transform-origin: -12px center;
  }
  75.01 {
    margin-left: -66px;
    -webkit-transform: translateY(-50%) rotate(-180deg);
            transform: translateY(-50%) rotate(-180deg);
    -webkit-transform-origin: -12px center;
            transform-origin: -12px center;
  }
  100% {
    margin-left: -18px;
    -webkit-transform: translateY(-50%) rotate(0deg);
            transform: translateY(-50%) rotate(0deg);
    -webkit-transform-origin: -12px center;
            transform-origin: -12px center;
  }
}

@keyframes rotate-1 {
  0% {
    margin-left: -18px;
    -webkit-transform: translateY(-50%) rotate(0deg);
            transform: translateY(-50%) rotate(0deg);
    -webkit-transform-origin: 66px center;
            transform-origin: 66px center;
  }
  25% {
    margin-left: -25px;
    -webkit-transform: translateY(-50%) rotate(-180deg);
            transform: translateY(-50%) rotate(-180deg);
    -webkit-transform-origin: 66px center;
            transform-origin: 66px center;
  }
  50% {
    margin-left: -33px;
    -webkit-transform: translateY(-50%) rotate(-360deg);
            transform: translateY(-50%) rotate(-360deg);
    -webkit-transform-origin: 66px center;
            transform-origin: 66px center;
  }
  50.1% {
    -webkit-transform-origin: -12px center;
            transform-origin: -12px center;
  }
  75% {
    margin-left: -36px;
    -webkit-transform: translateY(-50%) rotate(-180deg);
            transform: translateY(-50%) rotate(-180deg);
    -webkit-transform-origin: -12px center;
            transform-origin: -12px center;
  }
  75.01 {
    margin-left: -66px;
    -webkit-transform: translateY(-50%) rotate(-180deg);
            transform: translateY(-50%) rotate(-180deg);
    -webkit-transform-origin: -12px center;
            transform-origin: -12px center;
  }
  100% {
    margin-left: -18px;
    -webkit-transform: translateY(-50%) rotate(0deg);
            transform: translateY(-50%) rotate(0deg);
    -webkit-transform-origin: -12px center;
            transform-origin: -12px center;
  }
}

.ball-3 {
  margin-left: 120px;
}

svg {
  margin: 0 auto;
  overflow: hidden;
}

#wave {
  stroke-dasharray: 0 16 101 16;
  -webkit-animation: moveTheWave 2400ms linear infinite;
          animation: moveTheWave 2400ms linear infinite;
}

@-webkit-keyframes moveTheWave {
  0% {
    stroke-dashoffset: 0;
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
  100% {
    stroke-dashoffset: -133;
    -webkit-transform: translate3d(-90px, 0, 0);
            transform: translate3d(-90px, 0, 0);
  }
}

@keyframes moveTheWave {
  0% {
    stroke-dashoffset: 0;
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
  100% {
    stroke-dashoffset: -133;
    -webkit-transform: translate3d(-90px, 0, 0);
            transform: translate3d(-90px, 0, 0);
  }
}
